*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

/* Navigation */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#222;

    color:white;

    padding:20px 50px;
}

nav ul{

    display:flex;
    list-style:none;
}

nav ul li{

    margin-left:30px;
}

nav a{

    color:white;
    text-decoration:none;
}

/* Hero */

.hero{

    display:flex;
    justify-content:space-around;
    align-items:center;

    height:90vh;
}

.left{

    width:50%;
}

.left h1{

    font-size:50px;
}

.left h3{

    margin:15px 0;
    color:blue;
}

.left p{

    line-height:30px;
}

button{

    margin-top:20px;
    padding:12px 30px;

    background:blue;
    color:white;

    border:none;

    cursor:pointer;
}

.right img{

    width:300px;
    height:300px;

    border-radius:50%;
}

/* About */

.about{

    padding:80px;
    text-align:center;
}

/* Skills */

.skills{

    padding:80px;
}

.skill-box{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;
}

.skill-box div{

    background:blue;

    color:white;

    padding:25px;

    text-align:center;

    border-radius:10px;
}

/* Projects */

.projects{

    padding:80px;
}

.cards{

    display:flex;

    gap:20px;
}

.card{

    background:white;

    padding:30px;

    box-shadow:0 0 10px gray;

    border-radius:10px;

    flex:1;
}

/* Contact */

.contact{

    padding:80px;

    text-align:left;
}

/* Footer */

footer{

    background:#222;

    color:white;

    text-align:left;

    padding:20px;
}